body {
  font-family: "Open Sans", sans-serif;
  margin: 5% 10%;
}

.full-name {
  text-align: center;
  font-size: 3rem;
}

.personal-info {
  text-align: center;
}

.personal-info li {
  display: inline-block;
}

.skills-container {
  display: flex;
  margin: 0 5% 0 10%;
}

.skills-container article {
  width: 50%;
}

.date {
  margin-left: 75%;
}

.school-date {
  margin-left: 51%;
}
