body {
  font-family: "Open Sans", sans-serif;
  margin: 5% 10%;
}

.full-name {
  text-align: center;
  font-size: 3rem;
}
.personal-info {
  text-align: center;
}

.personal-info li {
  display: inline-block;
}
